@media (max-width: 927px) {
    body {
        margin: 0;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        border-radius: 0;
    }

    p {
        padding: 5px;
        gap: 8px;
    }

    input {
        height: 45px;
    }

    .imagem-padrao {
        content: url(images/illustration-sign-up-mobile.svg);
        order: -1;
        width: 100%;
        padding: 0;
      }
      
      .modal {
        box-shadow: none;
        
      }

      #close-modal {
        width: 400px;
        margin: 60px;
      }
      
      .modal h2 {
        font-size: 45px;
        margin-left: 55px;
      }

      .modal p {
        margin-left: 65px;
        margin-right: 50px;
      }

      .modal img {
        margin-left: 65px;
      }

      .modal-overlay {
        background-color: white;  
    }
}
