body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: hsl(235, 18%, 26%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.container {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    border-radius: 30px;
}

h1 {
    font-size: 50px;
    padding-bottom: 50px;
    color: hsl(234, 29%, 20%);
}

p {
    display: flex;
    gap: 8px;
    margin: 5px ;
    font-weight: 700;
    font-size: 16px;
}

label {
    padding-bottom: 8px;
    padding-top: 20px;
    font-size: 13px;
    color: hsl(234, 29%, 20%);
    font-weight: 700;
}
.conteudo {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

input {
    border-radius: 5px;
    padding: 15px;
    border: 1px solid lightgray;
}

.button {
    background-color:  hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
}

.button:hover {
    background-color: hsl(4, 100%, 67%);
    border: none;
    transition: 0.3s;
}

.imagem-padrao {
   padding: 20px;
}


.form-control {
    position: relative;
}

.error {
    border: 1px solid hsl(4, 100%, 67%);
    background-color: hsl(4, 69%, 91%);
  }
 
.error::placeholder{
    color: hsl(4, 100%, 67%);
}

.error-message {
    color: hsl(4, 100%, 67%);
    font-size: 12px;
    margin-bottom: 5px;
    display: flex;
    position: absolute;
    right: 0;
    top: 1.5em;
  }

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }